<script src="assets/js/main.min.js"></script>

{% include analytics.html %}
{% include fetch_google_scholar_stats.html %}

<div style="
width: 100%;
background:#e9e9e9;
padding:18px 0;
margin-top:30px;
border-radius:8px;
">
  <div style="
width: 380px;    /* 等比例放大宽度 */
height: 243px;   /* 对应等比例高度，完全不变形 */
overflow:hidden;
margin:0 auto;
">
<script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=p7gR0g2dSfUOVHShuwnxznAeV7oMav7Nadd6xWEAgiE&cl=ffffff&w=a"></script>
  </div>
</div>
